//初始样式
$root-width:15px;

body,ul,p,h1,h2,h3{
    margin:0;
    padding:0;
}
html,ul,p,h1,h2,h3{
    font-size: $root-width;
    color:#333;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
li,div,a,input{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
@media screen and (min-width:1024px){
    .wrap{
        max-width: 43.33333rem;
        margin: 0 auto;
    }
}

//公共样式
.wrap{
    position: relative;
    width: 100%;
    font-size: 1rem;
}
.fixed{
    position: absolute;
}
.flexDiv{
    display: flex;
}
.flexItem{
    flex: 1;
}
.mr15{
    margin-right: 15px;
}
.c2384E8{
    color:#2384E8;
}
.c9F7860{
    color:#9F7860;
}
.cE4A813{
    color:#E4A813;
}
.cE4A813{
    color:#E4A813;
}
