//初始样式
$root-width:15px;

body{
    -webkit-overflow-scrolling:touch;    
}
body,ul,p,h1,h2,h3{    
    margin:0;
    padding:0;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
html,ul,p,h1,h2,h3{
    font-size: $root-width;
    color:#333;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
li,div,a,input{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
@media screen and (min-width:1024px){
    .wrap{
        max-width: 43.33333rem;
        margin: 0 auto;
    }
}

//修改滚动条样式

/* 设置滚动条的样式 */
::-webkit-scrollbar{
    width: 3px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb{    
    border-radius: 10px;    
    background: rgba(0,0,0,0.2);    
}

//公共样式
.wrap{
    position: relative;
    width: 100%;
    font-size: 1rem;
}
.fixed{
    position: absolute;
}
.flexDiv{
    display: flex;
    display: -webkit-flex;
}
.flexItem{
    flex: 1;
    -webkit-flex: 1;
}
.flexItem_dobule{
     flex: 2;
    -webkit-flex: 2;
}
.mt5{
    margin-top: 0.333333rem;
}
.mt10{
    margin-top: 0.666666rem;
}
.mt20{
    margin-top: 1.333333rem;
}
.mb5{
    margin-bottom: 0.333333rem;
}
.mb10{
    margin-bottom: 0.666666rem;
}
.ml3{
    margin-left: (3/15)*1rem;
}
.mr5{
    margin-right: 0.333333rem;
}
.mr15{
    margin-right: 1rem;
}
.pt10{
    padding-top: 0.666666rem;
}
.pt15{
    padding-top: 1rem;
}
.c2384E8{
    color:#2384E8;
}
.c9F7860{
    color:#9F7860;
}
.cE4A813{
    color:#E4A813;
}
.c2AB8CC{
    color:#2AB8CC;
}
.content{
    width: 100%;
    padding: 3.1333333rem 1.2rem 0 1.2rem;
    box-sizing: border-box;
//  overflow-y: auto;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
.clear{
    zoom: 1;
}
.clear:after{
    content: "";
    clear: both;
    display: block;
}
.relative{
    position: relative;
}
