.content{
    $film_count:8;
    $film_count_ml:7;
    $green:#42bd56;
    
    .quickNav{
        ul{
            width: 100%;
            overflow: hidden;
            li{
                width: 48%;
                height: 3rem;
                float:left;
                margin: 0.2rem;
                background: #f6f6f6;
                box-sizing: border-box;
                text-align: center;
                line-height: 3rem;
                color:#494949;
            }
        }
    }
    
    @-webkit-keyframes load{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    
    .moreTip{
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        
        span{
            display: inline-block;
            width: .6rem;
            height: .6rem;
            margin-right: 5px;
            border-radius: 50%;
            background: lightgreen;
            -webkit-animation: load 0.8s ease infinite;
            &:last-child{
                margin-right: 0px;
            }
            &:nth-child(1){
                -webkit-animation-delay:0.15s;
            }
            &:nth-child(2){
                -webkit-animation-delay:0.3s;
            }
            &:nth-child(3){
                -webkit-animation-delay:0.45s;
            }
        }
    }
    
    .hotListItem{
        width: 100%;
        padding: 1.66666rem 0;
        box-sizing: border-box;
        border-bottom: 1px solid #f6f6f6;
        
        
        h3{
            font-size: 1.05rem;
            font-weight: normal;
            color:#494949;
            margin-bottom: 0.4rem;
        }
        .item_wrap{
            p{
                font-size: 0.8rem;
                color:#aaa;
                display:-webkit-box;
                -webkit-box-orient:vertical;
                -webkit-line-clamp:3;
                overflow: hidden;
            }
            .hot_img{
                width: 5.66666rem;
                height: 5.666666rem;
                margin-left: 1.333333rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }      
        .authorMsg{
            color:#ccc;
            font-size: 0.8rem;
        }
    }
    
    .bigPic{
        height: 11rem;
        flex:3;
        margin-right: 0.333333rem;
        box-sizing: border-box;
    }
    .picDiv{
        height: 49%;
        .photo_count{
            width: 100%;
            height: 100%;
            display: block;
            background:rgba(0,0,0,.4);
            color:#fff;
            text-align: center;
            line-height: 100%;
            span{
                width: 20px;
                height: 12px;
                display: block;
                position: absolute;
                font-size: 0.8rem;
                margin:auto;
                left: 0;
                right:0;
                top:0;
                bottom:0;
            }
        }
    } 
    .DateTitle{
        padding: 1rem 0;
        text-align: center;
        font-size: 1.2rem;
        border-bottom: 1px solid #f6f6f6;
    }
    .card-swipe{
        width: 100%;
        overflow: hidden;
    }
    .card-slide{
        width: $film_count*6.67rem+$film_count_ml*0.48rem;
    }
    .film_item{
        width: 6.67rem;
        margin-left: 0.48rem;
        &:first-child{
            margin-left:0;
        }
    }
    .film_cover{
        width: 100%;
        height: 9.47rem;
    }
    .type_title{
       font-size: (18/15)*1rem;
       color:#111; 
       font-weight: normal;     
    }
    .film_title{
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        font-size: (14/15)*1rem;
        color:#111;
        margin-top: (10/15)*1rem;
    }
    .film_rating{
        font-size: (12/15)*1rem;
        color:#aaa;
        text-align: center;
        margin-top: (5/15)*1rem;
    }
    .light_star,.normal_star{
        width:(10/15)*1rem;
        height:(10/15)*1rem;
        display: inline-block;
        margin-right: 1px;
    }
    .light_star{
        background: url(../images/light_star.png)no-repeat center;
        background-size: 10px 10px;
    }
    .normal_star{
        background: url(../images/normal_star.png)no-repeat center;
        background-size: 10px 10px;
    }
    .moreFilm{
        width: 2*(14/15)*1rem;
        height: (20/15)*1rem;
        font-size:(14/15)*1rem;
        color:$green;
        display: block;
        position: absolute;
        margin:auto;
        right: 0;
        top:0;
        bottom:0;
    }
    .filmType_wrap{
        padding-top: (18/15)*1rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #eee;
        .filmType{
            width: 50%;
            height: (42/15)*1rem;
            line-height: (42/15)*1rem;
            border-top:1px solid #eee ;
            box-sizing: border-box;
            padding-right:(17/15)*1rem;
            color:$green;
            position: relative;
            font-size: (14/15)*1rem;
            &:nth-child(odd){
                border-right:1px solid #eee;
            }
            &:nth-child(even){
                padding-left:(17/15)*1rem;
            }
        }
        .arrow{
            width: (9/15)*1rem;
            height: (9/15)*1rem;
            display: block;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            position: absolute;
            margin: auto;
            top:0;
            bottom:0;
            right: 10%;
        }
    }   
}
